{% extends "base.html" %}
{%block pagetitle %} Tool {% endblock %}
{% block title %}{% endblock %}
{% block primary %}
<p style="width:100%;">
<br>

<p style="font-size: xx-large; border-bottom: Green 3px solid; clear:both;">Location of Data Center</p>
<p style="margin:5px;text-align: justify; text-justify: distribute-all-lines;">

{{ form.map }}
{{ form.media.js }}

</p>
<p style="margin: 50px 0 0 0; text-align:center;">

</p>
</p>

<p style="font-size: xx-large; border-bottom: Green 3px solid; clear:both;">Background</p>
<p style="margin:5px;text-align: justify; text-justify: distribute-all-lines;">

</p>
{% endblock %}
      