{% extends "base.html" %}
{%block pagetitle %} Home {% endblock %}
{% block title %}{% endblock %}
{% block primary %}
<p style="width:100%;">
<p style="font-size: xx-large; border-bottom: Green 3px solid;">Outline</p>
<p style="margin:5px;text-align: justify; text-justify: distribute-all-lines; float:left; width:500px;">
Susanoo project aims at developing a framework for sustainable
management and optimal operation of dicentralized data centers.
Our framework considers utlizing distributed natural resources,
such as solar power and outdoor air, for sustainable management
of the data centers. The framework provides a function to estimate
performance and consumption of green energy/brown energy of the
data centers in changing configuration of the data centers via
migrating virtual machines, shutting down servers, and so on.
This functions makes it possible to determine optimal operations of
the data centers.
</p>
<p style="margin: 50px 0 0 0; text-align:center;">
<img src="{{ STATIC_URL }}images/outline.png" width="550px">
</p>
</p>

<p style="font-size: xx-large; border-bottom: Green 3px solid; clear:both;">Background</p>
<p style="margin:5px;text-align: justify; text-justify: distribute-all-lines;">

</p>
{% endblock %}
      